<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="alps" translate="label" sortOrder="100">
            <label>Kiyoh Review</label>
        </tab>
        <section id="kiyoh" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Kiyoh Review</label>
            <tab>alps</tab>
            <resource>Alps_Kiyoh::kiyoh_config</resource> 
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="network" translate="label" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Network</label>
                    <source_model>Alps\Kiyoh\Model\System\Config\Source\Network</source_model>
                </field>

                <field id="custom_network" translate="label" sortOrder="21" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter URL</label>                    
                    <depends>
                        <field id="network">other</field>
                    </depends>
                    <validate>validate-url required-entry</validate>
                </field>

                 <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title</label>
                    <comment>Kiyoh section title</comment>
                </field>                

                <field id="connector_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enter Connector</label>
                    <comment>Enter here the Kiyoh Connector Code from your Kiyoh Account.</comment>
                </field>

                <field id="company_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Company Id</label>
                    <comment>Enter here the Company Id from your Kiyoh Account.</comment>
                </field>

                <field id="display_review" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Review</label>
                    <comment>Review count.</comment>
                </field>

                <field id="frequency" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Alps\Kiyoh\Model\Config\CronConfig</backend_model>
                </field>
                <field id="time" translate="label comment" sortOrder="80" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                </field>

                <field id="build_indexes" type="text" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Alps\Kiyoh\Block\System\Config\Button</frontend_model>
                    <comment>Click to fetch review manually.</comment>
                </field>

            </group>
        </section>
    </system>
</config>